html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        title Express

    body.container
        h2 Login
        p Please Login to continue
        form(method="POST").form-group
            label(for="username") Username
            input(type="text" placeholder="Username" name="username" id="username").form-control
            label password
            input(type="password" placeholder="Password" name="password").form-control
            br
            input(type="submit" value="Login").btn.btn-primary
